body { 
    background-image:url(/Basic-Portfolio/assets/images/topography.png);
    background-color: #cccccc;

    
} 
/* @media screen and (min-width: 30em){
    .single-nav ul{
    display: flex;
    justify-content:flex-end;
    width: 100%;
    background-color:white; */
    
}
ul :nth-child(1) {
justify-content: flex-start;


}

/*.centered class makes the navigation and content area centered*/

.centered {
    max-width:960;
    margin: auto;
    padding: 0 1em;
}
@media screen and (min-width: 52em) {
    .centered {
        max-width: 960px;
    }
    /*begins actual styling of the menu*/ 
    .menustyle {
        padding-bottom: 2em;
        margin-bottom: 5em;
        
    }
    .menustyle ul {
        list-style-type: none;
        padding: 30px;
        margin: 0;
     
      }
        .menustyle li a {
            display: block;
            text-decoration: none;
            color: #cccccc;
            padding: .6em 1em;
        }
        
        .menustyle li a:hover {
            color:#11a099;
        }
}
.leftrule { 
    border-right: .5px solid #cccccc;

}
/*start of content area styling */
.biostyle {
background-color:white;
width:960px;
border: .5px solid #cccccc;
}
 

.h2style { 
    padding-left: 35px;
    line-height: 2em;
    
}
.h2style:after{ 
    border-bottom: 2px solid #cccccc; 
}
/* h2 :after {
        The content property is used with the ::before and ::after pseudo-elements, to insert generated content.
        content:' ';
        display:block;
        border:1px solid #d0d0d0;
        border-radius:4px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
        -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
        -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
        width: 900px;
        margin: auto;
    }*/
.imagewrap {
    float:left;
    padding:20px;
}

p {
padding: 20px; 
line-height:2em;
}
Footer{  margin: auto auto 0 auto;
    background-color: #cccccc;
    text-align:center;
    padding-top: 2em;
    margin-top: 7em;
    border-top: 5px solid #11a099;

}